@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #a95eea !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.shuttle-logo {
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Set left and right margins to 'auto' to center it */
  }
 h3.text-center {
  color: #111632;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  padding-top: 10px;
}
p.text-center {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #202020;
  padding-top: 10px;
}
label.form-label {
  color: #202020;
  font-weight: 500;
  font-size: 14px;
}
p.pt-3 {
  font-size: 12px;
}

.card{
  
  background-color: #ffffff;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
  border-radius: 12px;
}
.card img{
  display: flex;
  justify-content: center;
}
.submit-button{
  background-color: #a95eea;
  border: 1px solid #a95eea !important;
  color: #ffffff;
  border: none;
  padding: 8px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin-top: 5px;
}
/* navbar css strat from here */
.nav-shadow-design {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.dropdown-menu li {
  color: #111632 !important;
  padding-left: 10px;
}

.dropdown-menu li a {
  color: #111632 !important;
  padding-left: 10px;
}

.navbar-brand {
  padding-right: 10rem;
}

.navbar-expand-lg {
}

.navbar-brand img {
  width: 65px;
}

.navbar-nav > li {
  padding-left: 0px;
  padding-right: 25px;
  position: relative;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li a {
  color: #111632 !important;
}

.active {
  /* border-bottom: 3px solid #150b0b; */
  border-radius: 2.3px;
}



/* footer css strat from here */
.textbox {
  float: left;
  text-align: right;
}

.textbox p {
  padding-left: 400px;
}

.bottom-footer {
  background-color: #6c3a97;
  padding: 20px 10px;
}

.bottom-footer p {
  color: #fff;
}

.bottom-footer img {
  height: 30px;
  width: 30px;
  /* display: block; */
  margin-left: 5px;
  margin-right: auto;
}

/* footer css start from here */
.footer {
  /* border-top: 1px solid #6C3A97; */
  padding: 40px 0px 20px 0px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.partone a {
  color: #6c3a97;
  text-decoration: none;
}

.partone p {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
}

.parttwo a {
  color: #6c3a97 !important;
  padding-right: 10px;
  font-size: 25px;
}

.partone h6 {
  color: #6c3a97;
  padding-bottom: 10px;
  font-weight: 500;
}

.parttwo h6 {
  color: #6c3a97;
  padding-bottom: 10px;

  font-weight: 500;
}

.store img {
  width: 120px;
  height: 50px;
  margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .textbox p {
    padding-left: 1px;
  }
  .navbar-brand {
    padding-right: 0px;
  }

  .navbar-nav > li {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-nav > li > a:before {
    left: 0px;
  }
}
@media (max-width: 991px) {
  
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */



@media (min-width: 320px) and (max-width: 480px) {
  .textbox p {
    padding-left: 1px;
    font-size: 13px;
  }

  .bottom-footer img {
    height: 26px;
    width: 26px;
  }

  .partone h6 {
    margin-top: 15px;
  }

  .parttwo h6 {
    margin-top: 15px;
  }
}
